*
  font-family Arial, Helvetica, sans-serif
.usage
  margin 0 0 25px 0
  padding 10px
  border 1px solid #333
  background-color #ddd
.Timer
  width 100%
  height 100%
  background-color #000
.showCountdown, .finalState
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  font-size 80px
  color #fff
.finalState
  color red